.logo {
  height: 60px;
  width: 107px;
}

.menu-item-container {
  display: flex;
  align-items: center;
}

.menu-item {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.menu-item:hover {
  text-decoration: none;
  border-bottom: 1px solid #275a53;
  color: #275a53;
}

.menu-item-btn {
  background-color: #275a53;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.menu-item-btn:hover {
  background-color: white;
  border: 1px solid #275a53;
  color: #275a53;
  font-weight: 700;
  text-decoration: none;
}
